/* login form */
.login {
  height: 100%;
  background: #222;
}
.login body {
  max-width: auto;
  background: none;
  margin-left: 0;
}
.login body .form {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 250px;
  height: 260px;
  padding: 0;
  margin-top: -140px;
  margin-left: -125px;
  background: #f0f0f0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0,0,0, .3) 0 3px 3px, #fff 0 1px 0 inset;
  -moz-box-shadow: rgba(0,0,0, .3) 0 3px 3px, #fff 0 1px 0 inset;
  box-shadow: rgba(0,0,0, .3) 0 3px 3px, #fff 0 1px 0 inset;
}
.login body .form form {
  padding: 20px 30px 10px;
} 
.login body label {
  text-align: center;
}
.login .field {
  margin-bottom: 10px;
}
.login .field.buttons {
  border-top: none;
  padding-top: 10px;
}
.login body .field {
  margin-right: 0 !important;
}
.login body .field.text input {
  text-align: center;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.login input.error {
  background: red;
}
.login .ie-error h2 {
  padding: 20px 20px 0 20px;
  font-size: 15px;
  color: #222;
  margin-bottom: 10px;
}
.login .ie-error p {
  padding: 0 20px 20px 20px;
  line-height: 18px;
  font-size: 13px;
}
